<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>

	<body>
		<div class="jumbotron">
			<div class="container">
				<h1>Welcome to my About Page</h1>
				<a href="{{ url_for('index') }}">Home Page</a>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fringilla cursus leo, id pulvinar ipsum semper at. Aliquam scelerisque ante mauris, in dignissim dolor consectetur quis. Morbi efficitur ac nibh vel ornare. Proin consequat nibh quis suscipit pharetra. Quisque fermentum metus non egestas pulvinar. Mauris vel justo viverra, vestibulum augue et, mollis velit. Nulla condimentum erat lacus, et tempus purus blandit sed. Quisque commodo finibus odio, sit amet rhoncus felis dictum porta. Nulla facilisi. Aenean finibus purus vel libero luctus maximus. In bibendum magna in diam lobortis rhoncus.</p>

			</div>
		</div>
	</body>
</html>